.carouselMenuWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .carouselMenu {
    position: relative;
    width: 530px;
    height: 530px;
    border: 1px solid #c7cdd9;
    border-radius: 50%;
    align-self: center;
    transition: transform 0.9s ease-in-out;

    @media screen and (max-width: 1070px) {
      width: 380px;
      height: 380px;
    }

    @media screen and (max-width: 768px) {
      width: 330px;
      height: 330px;
    }
  }

  @media screen and (max-width: 640px) {
    display: none;
  }
}
